
body{
  background: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);
}
p{
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
}
.night {
  background: linear-gradient(90deg, #483d8b , #1d1b3a , #622569 );
  color: rgba(230, 230, 230, 0.79);
}
.sunrise{
  background: linear-gradient(to right, #622569, #a7708f, #f4e1d2)
}
.morning{
  background: linear-gradient(to right, #fefbd8, #ffefba, #ffef96)
}
.afternoon{
  background: linear-gradient(to right, #ffef96, #feb236, #fd8355)
}
.evening{
  background: linear-gradient(to right, #fd8355, #f0576c, #483d8b);
}

.navbar{
  font-size: 30px;
  background-color: rgba(107, 91, 149, 0.3);
  text-transform: uppercase;
  height: 100px;
  li{
    margin-left: 50px;

  }
}
.weatherItem {
  margin: 20px 0;
  .cityName {
    display: flex;
    justify-content: space-between;
    .icon{
      padding-right: 150px;
      text-align: center;
      font-size: 20px;
    }
  }
  .infoToday{
    margin-top: 20px;
    margin-bottom: 100px;
    display: flex;
    padding-left: 40px;
    font-size: 22px;
  }
  .tempInfo{
    margin-left: 300px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 40px
  }
}
.dateTime{

  margin: 50px 50px 20px 50px;
  display: flex;
  justify-content: space-between;
  font-size: 22px;
}
.weatherFiveDayItems{
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
        ul{
          margin: 0;
          padding: 10px 5px;
          list-style: none;
          width: 220px;
          border: 2px solid #cccccc;
          border-radius: 10px;
          background-color: rgba(107, 91, 149, 0.3);
          //color: #000;

          li{
            margin-bottom: 2px;
            border: 1px solid #cacaca;
            border-radius: 10px;
            list-style: none;
            display: flex;
            justify-content: space-between;
            box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14);

            div{
              padding: 12px 0;
              margin-left: 5px;
            }
          }
          li:hover{
            border: 1px solid #f4e1d2;
            box-shadow: 0 4px 15px 0 rgba(0, 0, 0, .30);
          }
        }
}
.dayList{
  color: #000;
  background-color: rgba(255, 189, 126, 0.8);
}
.nightList{
  background-color: rgba(72, 61, 139, 0.71);
  color: #ffff;
}

.navLink {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: none;
    color: #caca;
  }
  &.active{
    color: rgb(122, 90, 122);
  }
  &:active{
    color: #cccccccc;
  }
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fed;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 72px;
    height: 72px;
    opacity: 0;
    cursor: none;
  }
}
.error{
  display: block;
  text-align: center;
  width: 100%;
  justify-content: center;
  padding-top:15px;
  padding-bottom: 20px;
  flex-grow: 1;
  form {
    display: block;
    a{
      margin-top: 5px;
      width: 254px;
    }
  }
}
